// fontawesom
$fa-font-path: "../fonts/fontawesome-5.15.1";
// bootstrap
$theme-colors: ( "primary": #424242, );
$btn-border-radius: 0px;
$input-btn-border-width: 2.5px;
$body-bg: #fafafa;
$jumbotron-bg: #e8eaf6;
$body-color: #212121;
$navbar-nav-link-padding-x:1rem;